#main-container {
    background-color: black;
    color: #FFF;
    min-height: 500px;
}

#try-1 {
    font-size: 50px;
    text-align: center;
    padding-top: 100px;
}

.description-animation {
    -webkit-animation-name: description-animation;
    animation-name: description-animation;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes description-animation {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 20%, 0);
        transform: translate3d(0, 20%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.title-animation {
    -webkit-animation-name: title-animation;
    animation-name: title-animation;
    -webkit-animation-duration: 2.3s;
    animation-duration: 2.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes title-animation {
    0% {
        opacity: 0;
        -webkit-transform: none;
        transform: none;
    }
    
    50% {
        opacity: 0.5;
        -webkit-transform: translate3d(0, 50%, 0);
        transform: translate3d(0, 50%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 10%, 0);
        transform: translate3d(0, 10%, 0);
    }
}

/* .pages-title-animation{
    span {
        display: inline-block;
        transition: transform 1s cubic-bezier(.65, .02, .23, 1);
        transform: translate(20%, 100%);
        position: relative;
        font-family: "OpenSans-Regular";
        &:before {
          content: '';
          position: absolute;
          z-index: 1;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transform: translateY(-40%);
          transition: transform 1s cubic-bezier(.65, .02, .23, 1);
        }
        &.row {
          overflow: hidden;
          line-height: 0.9;
          display: block;
          transform: none;
          margin-bottom: 12px;
          padding-left: 1%;
          &:before {
            display: none;
          }
        }
      }
      
      .animateTitle {
        transform: translate(0, 0);
        &:before {
          transform: translateY(100%);
        }
      }
} */

https://www.smashingmagazine.com/2014/11/styling-and-animating-svgs-with-css/

https://greensock.com/docs/Plugins/DrawSVGPlugin




https://greensock.com/docs/Plugins/TextPlugin